<footer class="sticky-footer footer fixed-bottom">
  <div class="footer-content row mat-padding mat-no-margin">
    <div class="navigation">
      <div class="main-list-wrapper d-flex">
        <a class="link-item" mat-button routerLink='/about'>About</a>
        <a class="link-item" mat-button routerLink='/contacts'>Contact</a>
        <a class="link-item" mat-button routerLink='/support'>Support</a>
        <!--<a class="link-item" mat-button  routerLink='/connects'>Connects</a>-->
        <a class="link-item" mat-button routerLink='/faq'>FAQs</a>

      </div>
      <div class="right-side-footer">
        <small>This project has received funding from the European Union's Horizon 2020 research
          and innovation programme under grant Agreement No 693349</small>
        <img src="../../../assets/image/europe-flag.jpg" alt="europe-flag" width="70">
      </div>
    </div>
  </div>

</footer>
