<div class="content-header ">
  <h1 class="header-title">SIGN-HUB ASSESSMENT TOOLS IN LSE</h1>
</div>
<section class="container-body text-justify"></section>
<div class="row justify-content-center">
  <div class="col col-lg-10">
    <div class="text-justify">
      <h5>COGNITIVE TASK</h5>
      <h6>ODD ONE OUT (COGONEOUTLSE)</h6>
      <p>
        This is the only not-linguistic task. It has the purpose to evaluate general cognitive abilities of the
        participants. The task is to find the intruder in a set of 4 pictures (e.g. a cow among three horses). <br>
        <br>
        Two training items and 28 target items compose the task. <br>
        <br>
        Execution time is about 5 minutes. <br>
        <br>
        As an example, we report here the training items. <br>
        <br>
        <img src="../../../../assets/lsf/image/butterfly.png" alt="butterlfly">

      </p>
      <h5>LEXICAL TASKS</h5>
      <h6>LEXICAL COMPREHENSION WITH PHONOLOGICAL DISTRACTORS TASK IN LSE (LEXCOMPHONLSE)</h6>
      <p>
        The purpose of this task is to evaluate lexical comprehension where the target and the distractors are
        phonologically related signs. Participants are required to identify which picture out of six corresponds to the
        target sign. The non-target pictures are phonological competitors, namely they represent signs that are
        phonologically close to the target sign.<br>
        <br>
        One training item and 25 target items compose the task.<br>
        <br>
        Execution time is about 7 minutes.<br>
        <br>
        As an example, we report here the training item (the sign is PEAR):<br>
        <br>
        <video class="center" src="../../../../assets/lse/video/LEXCOMPHONLSE-PEAR.mp4" width="300" controls>
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/lse/image/LEXCOMPHONLSE-PEAR_picture.png" width="600">
      </p>
      <h6>LEXICAL COMPREHENSION WITH SEMANTIC DISTRACTORS TASK IN LSE (LEXCOMSEMLSE)</h6>
      <p>
        The purpose of this task is to evaluate lexical comprehension where the target and the distractors are
        semantically related signs. Participants are required to identify which picture out of eight corresponds to the
        target sign. The non-target pictures are semantic competitors, representing concepts that are semantically
        related to the target sign. <br>
        <br>
        Two training items and 18 target items compose the task. <br>
        <br>
        Execution time is about 5 minutes. <br>
        <br>
        As an example, we report here one training item (the sign is PRINTER): <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/LEXCOMSEMLSE-PRINTER.mp4" width="300" controls>
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/lse/image/LEXCOMSEMLSE-PRINTER_picture.png" width="600">
      </p>
      <h6>OPPOSITES LEXICAL TASK IN LSE (LEXOPPLSE)</h6>
      <p>
        This is a comprehension and production task that evaluates lexical competence. Participants are required to
        watch a sign and produce a sign with the opposite meaning. Target pairs are nouns, verbs, adjectives and
        adverbs. <br>
        <br>
        Three training pairs and 30 target pairs compose the task. <br>
        <br>
        Execution time is about 10 minutes. <br>
        <br>
        As an example, we report here one training pair (the given sign is GO OUT and the expected answer GO IN): <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/LEXOPPLSE-GO_OUT-GO_OUT.mp4" width="300" controls>
          Your browser does not support the video tag.
        </video>
      </p>
      <h6>PICTURE NAMING TASK IN LSE (LEXNAMLSE)</h6>
      <p>
        This task evaluates lexical production. Participants are required to name a number of pictures typically
        representing objects. The expected answers are nouns. <br>
        <br>
        Two training and 77 target pictures compose the task. <br>
        <br>
        Execution time is about 15 minutes. <br>
        <br>
        As an example, we show here a training picture and the expected answer (BOOTS): <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/LEXNAMLSE-BOOTS.mp4" width="300" controls>
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/lse/image/LEXNAMLSE-BOOTS_picture.png" width="300">

      </p>
      <h5>SYNTACTYCT TASKS</h5>
      <h6>CONTENT QUESTIONS COMPREHENSION TASK IN LSE (SYNTCQLSE)</h6>
      <p>
        This is a sentence-to-picture matching task aiming at assessing the ability to comprehend content questions
        (also called wh-questions). The interrogative pronoun is either the subject or the object.<br>
        The pictures represent three characters in a row (first and third alike, second different) with the first
        character performing an action on the second, and the second character performing the same action on the third
        (as in Friedmann, Belletti & Rizzi 2009).<br>
        The task is to touch or chick on the character who represents the answer to the question. <br>
        <br>
        40 target questions and 12 filler questions compose the task. The items are divided in 2 lists (26 items each)
        and each list is administered in a different block. For each block there are 2 training items. <br>
        <br>
        Execution time is about 20 minutes in total for the two blocks. <br>
        <br>
        As an example, we report here one training item: <br>
        <br>
        Which content question on the object: MAN <sub>j</sub>PUSH<sub>k</sub> CHILD<sub>k</sub> WHICH? <br>
        <br>
        <img class="center" src="../../../../assets/lsc/image/SYNTCQLSC-WH-6.jpg" width="300"> <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/SYNTCQLSE-Slide6_PUSH_WH-WhichObj_NPrestr_PA.mp4"
          width="300" controls>
          Your browser does not support the video tag.
        </video>
      </p>
      <h6>RELATIVE CLAUSES COMPREHENSION TASK IN LSE (SYNTRELLSE)</h6>
      <p>
        Participants are required to watch a video with a request embedding a relative clause (’Point to the dog that is
        chasing the cat/’Point to the cat that the dog is chasing’) and need to answer touching or clicking on the
        correct character in a picture. The pictures represent three characters in a row (first and third alike, second
        different) with the first character performing an action on the second, and the second character performing the
        same action on the third (as in Friedmann, Belletti & Rizzi 2009).<br>
        <br>
        40 target requests with a relative clause and 10 filler request compose the task. The items are divided in 2
        lists (25 items each) and each list is administered in a different block. For each block there are 2 training
        items.<br>
        <br>
        Execution time is about 20 minutes in total for the two blocks.<br>
        <br>
        As an example, we report here one training item:<br>
        <br>
        Subject relative clause: OLD-MAN<sub>l</sub> CHILD<sub>k</sub>&nbsp;<sub>k</sub>WATER-POUR<sub>j</sub> SAME
        IX<sub>2</sub> CLICK<br>
        <br>
        <img class="center" src="../../../../assets/lsc/image/SYNTRELLSC-Slide14.jpg" width="300" height="258"> <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/SYNTRELLSE_POUR-WATER (Slide14)_Subj_PRACTICE ITEM.mp4"
          width="300" controls>
          Your browser does not support the video tag.
        </video>
      </p>
      <h6>VERBAL AGREEMENT COMPREHENSION TASK IN LSE (SYNTVALSE)</h6>
      <p>
        This is a true or false task assessing the comprehension of agreement verbs, namely verbs that are spatially
        modified to mark their arguments (for example, they can involve a path movement from the position in space
        associated to the subject from the position in space associated to the object). <br>
        <br>
        Participants watch a not-linguistic video of a situation where three people interact. After the video, a
        sentence in LIS is shown and this can correctly report about the not-linguistic situation or incorrectly report
        the situation because of changes in verbal agreement (for example, in the non-linguistic video person 1 gives
        something to person 2 but the LIS sentence reports the situation as if Person 2 gives something to person 1).
        Participants’ task is to decide if the sentence matches the situation or not. <br>
        <br>
        The task is composed of 18 agreements verbs that occurs 4 times each (in a correct sentence, in two sentences
        with an agreement error and in a filler sentence). The total number of items is 72. They are divided in 2 lists
        (36 items each) distributed in 2 blocks. Each block is preceded by two training items. <br>
        <br>
        Execution time is about 20 minutes in total for the two blocks.<br>
        <br>
        As an example, we report here one training item: <br>
        <br>
        IX<sub>1</sub>&nbsp;<sub>1</sub>PICK-UP<sub>2</sub> <br>
        <br>
        “I picked you up.” <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/SYNTVALSE-PICK-UP_Target 1p-2p_practice items.mp4"
          width="300" controls>
          Your browser does not support the video tag.
        </video>
      </p>
      <h6>ROLE-SHIFT COMPREHENSION TASK IN LSE (SYNTRSLSE)</h6>
      <p>
        This is a sentence-to picture matching task evaluating the ability to detect role shift and compute the related
        change in in interpretation. Role-shift is a strategy to report actions, utterances or thoughts of another
        character by adopting the perspective of the character rather than the perspective of the signer (often the
        signer signals the change of perspective by moving his/her body towards the position associated with the person
        whose perspective is being adopted). <br>
        <br>
        Participants watch a video sentence that can be with or without role-shift. Their task is to decide which
        picture out of two represents the sentence. The two pictures are very similar and depict the interpretation with
        and without role-shift. <br>
        <br>
        The task is composed of 40 items with role-shift and 40 without role-shift, plus 16 fillers to assess whether
        participants comply with the task requirements. <br>
        <br>
        The task is administered in 2 blocks. For each block, there are 2 training items. <br>
        <br>
        Execution time is about 20 minutes in total for the two blocks. <br>
        <br>
        As an example, we report here one training item: <br>
        <br>
        Sentence with role shift: <br>
        <br>
        HAPPEN EXAM IMPORTANT. FRIEND MARIA SAY [RS TEACHER 3-HELP-1].<br>
        “There will be an important exam. My friend Mary told me “the teacher will help me”. <br>
        <br>
        <video class="center" src="../../../../assets/lse/video/SYNTRSLSE_HELP.mp4" width="300" controls>
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/lse/image/SYNTRSLSE_HELP.png" width="600">
      </p>
    </div>
  </div>
</div>
