<div class="content-header ">
  <h1 class="header-title">SIGN-HUB ASSESSMENT TOOLS IN ISL</h1>
</div>
<section class="container-body text-justify"></section>
<div class="row justify-content-center">
  <div class="col col-lg-10">
    <div class="text-justify">
      <h5>LEXICAL TASKS</h5>
      <h6>LEXICAL COMPREHENSION WITH PHONOLOGICAL DISTRACTORS TASK IN LSF (LEXCOMPHONLSF)</h6>
      <p>
        This task evaluates lexical comprehension where the target and the distractors are semantically related signs. Participants watch a video of an ISL sign and are required to select the picture which matches the sign out of 8 pictures. The non-target pictures are semantic competitors, representing concepts that are semantically related to the target sign.<br>
        <br>
        The task includes 20 items. <br>
        <br>
        Execution time is about 5 minutes. <br>
        <br>
        Example item – target sign: SHEEP <br>
        <br>
        <video class="center muted" width="300" controls>
          <source src="../../../../assets/isl/video/lexcomsem ISL example sheep.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/isl/image/isl-photo.png" width="800" height="300">
      </p>
      <h6>PICTURE NAMING TASK IN LSF (LEXNAMLSF)</h6>
      <p>
        This task evaluates lexical production. Participants are presented with a picture and are required to name it in ISL. The expected answers are nouns.<br>
        <br>
        The task includes 91 items.<br>
        <br>
        Execution time is about 15-20 minutes.<br>
        <br>
        Example item – target sign: CARROT<br>
        <br>
        <video class="center muted" width="300" controls>
          <source src="../../../../assets/isl/video/Picture_naming_ISL_example_answer_CARROT.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <br>
        <img class="center" src="../../../../assets/isl/image/picture_naming_ISL_picture_CARROT.png" width="600">
      </p>
    </div>
  </div>
</div>
