.vertical {
  vertical-align: middle !important;
  position: absolute;
  margin: -9px 0px 0 5px;
}

img {
  vertical-align: baseline !important;
  margin-left: 5px;
}

.content-header {
  text-align: center !important;
}

img.center {
  display: block;
  margin: 0 auto;
}

video.center {
  display: block;
  margin: 0 auto;
}
