.video {
  text-align: center;
  padding-bottom: 100px;
}

h3.intro {
  position: relative;
  padding-top: 20px;
}

p.first-paragraph {
  position: relative;
  padding-top: 20px;
}

.contacts {
  padding-bottom: 100px;
}
.our-teams {
  padding-bottom: 100px;
}
.header-for {
  font-style: normal;
  font-weight: 600;
  margin-top: 2.4rem;
  margin-bottom: 1.6rem;
}

.img-link {
  width: 30px !important;
  margin: 4px 4px 4px 4px;
  padding: 0px;
}

.link {
  color: #ac0033;
  text-decoration: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
