<div class="logo">
  <img src="../../../assets/image/sign-hub-logo.png" alt="sign-hub-logo">
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <h3 class="intro">Preserving, researching and fostering the linguistic, historical and cultural heritage of
        European Deaf
        signing communities with an integral resource</h3>
      <p class="text-justify first-paragraph">SIGN-HUB is a 4-year research project (2016-2020) funded by the European
        Commission within
        Horizon 2020 Reflective Society 2015, Research and Innovation actions.
        It has been designed by a European research team to provide an innovative and inclusive resource hub for the
        linguistic, historical and cultural documentation of the Deaf communities’ heritage and for sign language
        assessment in clinical intervention and school settings.</p>
      <div class="video">
        <iframe width="100%" height="560px" src="https://www.youtube.com/embed/g71M1MJl_A4" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 contacts">
          <h2 class="header-for">Contacts</h2>
          <address>
            <strong>Universitat Pompeu Fabra</strong><br>
            <a class="link" href="https://www.icrea.cat/web/scientificstaff/josep-quer-villanueva-131"
              target="_blank">Prof. Josep
              Quer</a>
          </address>

          <address>
            <strong>Email:</strong> <a class="link" href="mailto:sign-hub@upf.edu">sign-hub@upf.edu</a><br>
          </address>

          <a href="https://www.facebook.com/sign.hub.project/" class="img-link"><img
              src="../../../assets/image/facebook-icon.png" alt="facebook" title="facebook" class="social"></a><a
            href="https://www.youtube.com/channel/UCr8dYkXNgq1Mof2UhBxP1Kg" class="img-link"><img
              src="../../../assets/image/youtube-icon.png" alt="youtube" title="youtube" class="social"></a>
        </div>
        <div class="col-md-1 hidden-xs"></div>
        <div class="col-md-7 our-teams">
          <h3 class="header-for">Our Teams</h3>
          <dl class="dl-horizontal">
            <dt>France:</dt>
            <dd class=""><a class="link" href="https://sites.google.com/view/signhubfrance/" target="_blank">Centre
                National
                de la Recherche Scientifique<br>Université Paris Diderot, Paris 7</a></dd>
            <dt class="">Germany:</dt>
            <dd class=""><a class="link" href="https://www.uni-goettingen.de/de/546745.html" target="_blank"
                class="link">Georg-August-Universität Göttingen Stiftung Öffentlichen Rechts</a></dd>
            <dt>Israel:</dt>
            <dd><a class="link" href="http://www.tau.ac.il/~naamafr/sign-hub/index.html" target="_blank">Tel Aviv
                University</a></dd>
            <dt>Italy:</dt>
            <dd><a class="link" href="http://www.sign-hub.it/" target="_blank">Università degli studi di
                Milano-Bicocca<br>Università
                Ca’ Foscari Venezia</a></dd>
            <dt>Spain:</dt>
            <dd><a class="link" href=" https://www.upf.edu/web/sign-hub" target="_blank">Universitat Pompeu Fabra</a>
            </dd>
            <dt>The Netherlands:</dt>
            <dd><a class="link"
                href="http://aclc.uva.nl/content/research-groups/sign-language-grammar-and-typology/sign-hub/sign-hub.html?origin=8ZtCo6MjS%2B6atiMzaszh6A"
                target="_blank">Universiteit van Ámsterdam</a></dd>
            <dt>Turkey:</dt>
            <dd><a class="link" href="https://signhub.boun.edu.tr/en" target="_blank">Bogaziçi Universitesi</a></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
