<mat-sidenav-container class="sidenav-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10">
        <div class="text-justify margin-from-top">
          <h1>About</h1>
          <p>
            What is the SIGN-HUB Platform?
          </p>
          <p>
            The SIGN-HUB platform is an innovative and inclusive resource hub for the linguistic, historical and
            cultural documentation of European sign languages and their Deaf communities' heritage. This platform has
            been developed during the SIGN-HUB project which was funded by the European Union's Horizon 2020 research
            and innovation programme under grant Agreement No 693349. If you would like to find out more about the
            SIGN-HUB project itself and the consortium of institutions and countries that developed this platform,
            please visit the section “<a routerLink="/project">SIGN-HUB Project</a>” in the upper right corner.
          </p>
          <p>
            The platform provides four major sections that can be used independently as an information resource for
            researchers, scholars, teachers, interpreters, and anybody interested in sign languages.
          </p>
          <h2>Grammars:</h2>
          <p>
            Until very recently, there were no extensive descriptive grammars for European sign languages. We tried to
            change that situation. This section of the platform hosts the grammar descriptions of 7 sign languages that
            have been developed during the SIGN-HUB project: Catalan Sign Language (LSC), French Sign Language (LSF),
            German Sign Language (DGS), Italian Sign Language (LIS), Sign Language of the Netherlands (NGT), Spanish
            Sign Language (LSE), and Turkish Sign Language (TİD). These are available for consultation and download.
          </p>
          <p>
            These grammars have been written with a grammar writing tool that was also developed during the SIGN-HUB
            project. This tool is based on the <a href="https://doi.org/10.1515/9781501511806" target="_blank">SignGram
              Blueprint</a>, which provides a very detailed Table of Contents for
            sign language reference grammars as well as a comprehensive guide for writing a sign language grammar.
          </p>
          <p>
            The platform is designed in such as way that new grammars can be added in the future.
          </p>
          <p>
            Lead partners: Meltem Kelepir (Boğaziçi University) and Josep Quer (Pompeu Fabra University).
          </p>
          <h2>Atlas:</h2>
          <p>
            The Atlas of Sign Language Structures presents a comprehensive array of grammatical features and phenomena
            across a wide variety of sign languages of the world. This is the first attempt to offer such a broad and
            uniform cross-linguistic coverage of grammatical core properties of sign languages.
          </p>
          <p>
            Through four broadly distributed online questionnaires, we collected and elicited data from as many sign
            languages as possible, no matter whether they are well investigated or under-researched. The features in the
            questionnaires addressed different areas of grammar and socio-historical background:
          </p>
          <ol>
            <li>Questionnaire 1: Phonology and Lexicon</li>
            <li>Questionnaire 2: Morphology</li>
            <li>Questionnaire 3: Syntax</li>
            <li>Questionnaire 4: Pragmatics and Socio-historical Background</li>
          </ol>
          <p>
            Based on these data, we designed the interactive Atlas Tool on this platform. With animated functional maps,
            we show the grammatical structures of the sign languages of the world. The amount of grammatical features
            accessible for a sign language depends on the current status of its description. So, for some
            well-investigated sign languages you will find more grammatical features than for some less-investigated
            sign languages.
          </p>
          <p>
            The Atlas of Sign Language Structures is designed in such a way that information on sign languages other
            than those represented here can be added in the future.
          </p>
          <p>
            Lead partners: Jana Hosemann (University of Göttingen) and Markus Steinbach (University of Göttingen).
          </p>
          <h2>Assessment:</h2>
          <p>
            The platform hosts 42 tests that assess linguistic skills of signers in four sign languages: Catalan Sign
            Language (LSC), French Sign Language (LSF), Italian Sign Language (LIS), and Spanish Sign Language (LSE). 37
            of the tests target adults and 5 target children.
          </p>
          <p>
            These are not yet clinical tests and they are intended to be used only in a research environment. There are
            plans to develop some of them into clinical tools in the near future.
          </p>
          <p>
            These tests have been used to collect data from 3 groups of Deaf participants: Native signers (exposed to
            sign language from birth); Early signers (exposed to sign language before the age of 6); and Late signers
            (exposed to sign language between the age of 6 and 15). The results so far indicate that an early exposure
            to sign language has a positive impact on several language skills.
          </p>
          <p>
            Lead partners: Caterina Donati (University of Paris) and Naama Friedmann (Tel Aviv University)
          </p>

          <h2>Life Stories:</h2>
          <p>
            In this area of the platform, you can find interviews conducted with elderly Deaf signers on their life
            experiences. All interviews have been conducted by Deaf interviewers and have been filmed by Deaf film crews
            in six different sign languages: Catalan Sign Language (LSC), German Sign Language (DGS), Italian Sign
            Language (LIS), Sign Language of the Netherlands (NGT), Spanish Sign Language (LSE), and Turkish Sign
            Language (TİD).
          </p>
          <p>
            This area of the platform also contains a digitalized version of interviews by the University of Haifa Sign
            Language Research Lab and the digitalized version of three French documentary movies belonging to the
            Académie de la Langue des Signes Française.
          </p>
          <p>
            Finally, the platform also hosts the 40-minute documentary movie ‘We were there, we are here’, which is
            based on all these materials.
          </p>
          <p>
            Lead partner: Roland Pfau (University of Amsterdam)
          </p>
          <p>
             The production of the documentary has been coordinated by the SIGN-HUB team at Bogazici University: Vincenza Iadevaia Gökgöz (producer), Aslı Göksel (assistant producer), Burcu Saral (assistant producer), Affan Taner (editor), and Ali Kanat (assistant editor).
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
