<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer mode="side" [opened]="true" role="navigation" [disableClose]="true">
    <div class="header-content column ">

      <h2 class="header-title" mat-line>Homepage description</h2>
      <h3 class="sub-header" mat-line>Sub header title</h3>
    </div>
    <mat-divider></mat-divider>
    <main id="homepage" class="mat-padding">
    <section class="container-body">
        <h1 class="title-section">
          Title section
        </h1>
        <h3 class="title-paragraph">
          Title paragraph
        </h3>
        <h4>
          Title
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit neque. Cras non magna ligula.
          Maecenas tempus tellus auctor turpis auctor faucibus. Quisque mattis pulvinar placerat. Morbi sagittis diam
          vitae diam congue, a dignissim diam consectetur. Sed dictum nec nibh in vestibulum. Suspendisse at tempor
          ex. In egestas mollis faucibus. Praesent at erat tincidunt, iaculis sapien ut, sollicitudin odio.
        </p>
        <p>
          Cras ultrices, nunc a sodales consectetur, purus ex luctus leo, a porttitor magna tortor et lectus. Nam et
          enim at nibh facilisis tempor. Etiam a tellus eget orci ultrices sodales. Proin accumsan, lectus eget
          rhoncus porta, dui metus vehicula nisl, et aliquet nibh odio sed dolor. Integer eros sem, imperdiet eu
          faucibus ac, euismod nec enim. Nunc eu odio lobortis, tincidunt orci vel, malesuada dui. Integer volutpat
          urna at felis condimentum ultrices. Maecenas quis massa lorem. Nulla iaculis pulvinar pellentesque. Mauris
          et mauris gravida, scelerisque metus sed, efficitur lectus. Pellentesque nec gravida erat. Vivamus magna
          nisi, vestibulum a nisl in, feugiat maximus velit. Nullam dolor lorem, feugiat sed nunc sed, malesuada
          ultricies urna. Proin a ex eu lorem ultricies finibus vel ut est.
        </p>
        <p>
          Sed ac elit a elit molestie tincidunt quis vel ex. Nam auctor odio sed tortor sodales posuere. Mauris
          tristique velit vitae tempus maximus. In non convallis urna. Maecenas eu metus et dui tincidunt finibus. Sed
          arcu ex, consequat ac pretium eget, iaculis quis nibh. Nulla non maximus odio, quis dignissim dolor.
        </p>
        <p>
          Morbi lorem lorem, iaculis ac mi in, molestie volutpat augue. Maecenas elementum velit ac leo fringilla
          tempus. Donec laoreet rutrum mauris nec laoreet. Sed sem tellus, lacinia vitae dui quis, blandit interdum
          urna. Aliquam laoreet ante nec auctor dapibus. Integer lectus dolor, mollis at condimentum ut, convallis sed
          tortor. Proin efficitur suscipit mauris. Sed imperdiet magna non ultrices lobortis. Donec non iaculis metus,
          at pretium ipsum.
        </p>
        <p>
          Suspendisse in elit ac lorem euismod varius. Proin eros tellus, elementum eu imperdiet at, consequat vitae
          orci. Integer a turpis ut nibh pharetra dignissim at bibendum odio. Sed gravida arcu ut nulla posuere
          aliquam. Suspendisse vulputate cursus diam, eu rhoncus justo malesuada non. Aenean pellentesque nisl
          elementum egestas efficitur. Maecenas et erat et risus bibendum consectetur quis a justo. Fusce fermentum
          urna turpis, non eleifend tellus faucibus a. Quisque eu nisl ut ligula rutrum maximus eget quis neque. Donec
          ac posuere ipsum. Curabitur pharetra facilisis euismod. Mauris tincidunt pulvinar dapibus. Mauris vel ligula
          nec metus dapibus interdum.
        </p>
      </section>

      <section>
        <h4 class="title-section">
          Title section
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit neque. Cras non magna ligula.
          Maecenas tempus tellus auctor turpis auctor faucibus. Quisque mattis pulvinar placerat. Morbi sagittis diam
          vitae diam congue, a dignissim diam consectetur. Sed dictum nec nibh in vestibulum. Suspendisse at tempor
          ex. In egestas mollis faucibus. Praesent at erat tincidunt, iaculis sapien ut, sollicitudin odio.
        </p>
        <h5>Title paragraph</h5>
        <p>
          Cras ultrices, nunc a sodales consectetur, purus ex luctus leo, a porttitor magna tortor et lectus. Nam et
          enim at nibh facilisis tempor. Etiam a tellus eget orci ultrices sodales. Proin accumsan, lectus eget
          rhoncus porta, dui metus vehicula nisl, et aliquet nibh odio sed dolor. Integer eros sem, imperdiet eu
          faucibus ac, euismod nec enim. Nunc eu odio lobortis, tincidunt orci vel, malesuada dui. Integer volutpat
          urna at felis condimentum ultrices. Maecenas quis massa lorem. Nulla iaculis pulvinar pellentesque. Mauris
          et mauris gravida, scelerisque metus sed, efficitur lectus. Pellentesque nec gravida erat. Vivamus magna
          nisi, vestibulum a nisl in, feugiat maximus velit. Nullam dolor lorem, feugiat sed nunc sed, malesuada
          ultricies urna. Proin a ex eu lorem ultricies finibus vel ut est.
        </p>
        <p>
          Sed ac elit a elit molestie tincidunt quis vel ex. Nam auctor odio sed tortor sodales posuere. Mauris
          tristique velit vitae tempus maximus. In non convallis urna. Maecenas eu metus et dui tincidunt finibus. Sed
          arcu ex, consequat ac pretium eget, iaculis quis nibh. Nulla non maximus odio, quis dignissim dolor.
        </p>
        <p>
          Morbi lorem lorem, iaculis ac mi in, molestie volutpat augue. Maecenas elementum velit ac leo fringilla
          tempus. Donec laoreet rutrum mauris nec laoreet. Sed sem tellus, lacinia vitae dui quis, blandit interdum
          urna. Aliquam laoreet ante nec auctor dapibus. Integer lectus dolor, mollis at condimentum ut, convallis sed
          tortor. Proin efficitur suscipit mauris. Sed imperdiet magna non ultrices lobortis. Donec non iaculis metus,
          at pretium ipsum.
        </p>
        <p>
          Suspendisse in elit ac lorem euismod varius. Proin eros tellus, elementum eu imperdiet at, consequat vitae
          orci. Integer a turpis ut nibh pharetra dignissim at bibendum odio. Sed gravida arcu ut nulla posuere
          aliquam. Suspendisse vulputate cursus diam, eu rhoncus justo malesuada non. Aenean pellentesque nisl
          elementum egestas efficitur. Maecenas et erat et risus bibendum consectetur quis a justo. Fusce fermentum
          urna turpis, non eleifend tellus faucibus a. Quisque eu nisl ut ligula rutrum maximus eget quis neque. Donec
          ac posuere ipsum. Curabitur pharetra facilisis euismod. Mauris tincidunt pulvinar dapibus. Mauris vel ligula
          nec metus dapibus interdum.
        </p>
      </section>


    </main>
    </mat-sidenav>
    <mat-sidenav-content class="container-content">
      <main id="homepage">
        <div class="content-header ">
          <h1 class="header-title"> Welcome to the Atlas of Sign Language structures!</h1>
          <h3 class="sub-header">Sub header title</h3>
        </div>
      </main>

    </mat-sidenav-content> -->
  <mat-sidenav-container class="sidenav-container">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-lg-10">

          <h1>Welcome to the SIGN-HUB platform!</h1>
          <p>This platform was conceived as a hub of resources for sign languages, and it was created and developed by
            the
            SIGN-HUB project (2016-2020), funded by the European Commission through the Horizon 2020 framework program.
          </p>
          <!-- <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g71M1MJl_A4" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div> -->
          <p class="text-left">The platform displays four major types of contents:</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-lg-8">
          <div class="text-justify">
            <ol type="i">
              <li> Grammars: digital <strong>grammar descriptions</strong> of 7 sign languages,
                produced with a new online grammar writing tool that implements the <span class="font-italic">Sign-Gram
                  Blueprint;</span>
              </li>
              <li> Atlas: an interactive <strong>digital atlas</strong> of linguistic structures of the world's sign
                languages;
              </li>
              <li> Assessment: online <strong>sign language assessment tools</strong> for professionals; </li>
              <li> Life stories: the first <strong>digital archive of life narratives by elderly signers</strong> from
                the participating countries, partly subtitled and partially annotated for linguistic properties, as well
                as
                the <strong>documentary movie</strong><span class="font-italic"> We were there, we are here</span>,
                based
                on
                those interviews.
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col col-lg-10 text-justify">
          <p>Most contents are immediately accessible to anyone, while other contents require applying
            for restricted access
            (all contents are available for free, though). See the corresponding instructions for each type of content.
          </p>

          <p>The materials on the platform are hosted by ORTOLANG, a French public research
            infrastructure.
          </p>

          <p>The SIGN-HUB consortium that created the contents and the platform was formed by:
            University of Amsterdam,
            Boğaziçi University, Ca’ Foscari University of Venice, University of Milan-Bicocca, CINI (Consorzio
            Interuniversitario Nazionale per l’Informatica), CNRS (Centre National de la Recherche Scientifique),
            Georg-August University of Göttingen, University of Paris (Diderot – Paris 7), Pompeu Fabra University and
            Tel
            Aviv University.
          </p>
        </div>
      </div>
    </div>
  </mat-sidenav-container>

</mat-sidenav-container>
