<!--The content below is only a placeholder and can be replaced.-->

<app-header></app-header>
<main>
  <router-outlet></router-outlet>
  <!-- <app-navigation-streaming-tool></app-navigation-streaming-tool> -->
</main>
<app-footer></app-footer>
<cookie-law name="signHubCookieLaw">
  By continuing to browse the site, you're agreeing to our use of cookies.
  We will save only the information about users visiting the platform that is necessary to offer the required
  functionalities.
</cookie-law>
