@import '../variables.scss';
main {
  margin-top: 34px;
  height: calc(100vh - calc(174px + var(--footer-top-spacer)));
}
::ng-deep app-root{
  .sidenav-container {
    height: 100%;
  }
  mat-sidenav {
      width: 100vw;
      max-width: map-get($cini-sizes, sidebar-size);
      font-family: "Roboto";
      &.sidenav-outline{
        background: transparent !important;
        padding: calc(var(--padding-small) * 3);
      }
  }
}

