<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer mode="side" [opened]="true" role="navigation" [disableClose]="true">
    <div class="header-content column ">

      <h2 class="header-title" mat-line>Homepage description</h2>
      <h3 class="sub-header" mat-line>Sub header title</h3>
    </div>
    <mat-divider></mat-divider>
    <main id="homepage" class="mat-padding">
      <section class="container-body">
        <h1 class="title-section">
          Title section
        </h1>
        <h3 class="title-paragraph">
          Title paragraph
        </h3>
        <h4>
          Title
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit neque. Cras non magna ligula.
          Maecenas tempus tellus auctor turpis auctor faucibus. Quisque mattis pulvinar placerat. Morbi sagittis diam
          vitae diam congue, a dignissim diam consectetur. Sed dictum nec nibh in vestibulum. Suspendisse at tempor
          ex. In egestas mollis faucibus. Praesent at erat tincidunt, iaculis sapien ut, sollicitudin odio.
        </p>
        <p>
          Cras ultrices, nunc a sodales consectetur, purus ex luctus leo, a porttitor magna tortor et lectus. Nam et
          enim at nibh facilisis tempor. Etiam a tellus eget orci ultrices sodales. Proin accumsan, lectus eget
          rhoncus porta, dui metus vehicula nisl, et aliquet nibh odio sed dolor. Integer eros sem, imperdiet eu
          faucibus ac, euismod nec enim. Nunc eu odio lobortis, tincidunt orci vel, malesuada dui. Integer volutpat
          urna at felis condimentum ultrices. Maecenas quis massa lorem. Nulla iaculis pulvinar pellentesque. Mauris
          et mauris gravida, scelerisque metus sed, efficitur lectus. Pellentesque nec gravida erat. Vivamus magna
          nisi, vestibulum a nisl in, feugiat maximus velit. Nullam dolor lorem, feugiat sed nunc sed, malesuada
          ultricies urna. Proin a ex eu lorem ultricies finibus vel ut est.
        </p>
        <p>
          Sed ac elit a elit molestie tincidunt quis vel ex. Nam auctor odio sed tortor sodales posuere. Mauris
          tristique velit vitae tempus maximus. In non convallis urna. Maecenas eu metus et dui tincidunt finibus. Sed
          arcu ex, consequat ac pretium eget, iaculis quis nibh. Nulla non maximus odio, quis dignissim dolor.
        </p>
        <p>
          Morbi lorem lorem, iaculis ac mi in, molestie volutpat augue. Maecenas elementum velit ac leo fringilla
          tempus. Donec laoreet rutrum mauris nec laoreet. Sed sem tellus, lacinia vitae dui quis, blandit interdum
          urna. Aliquam laoreet ante nec auctor dapibus. Integer lectus dolor, mollis at condimentum ut, convallis sed
          tortor. Proin efficitur suscipit mauris. Sed imperdiet magna non ultrices lobortis. Donec non iaculis metus,
          at pretium ipsum.
        </p>
        <p>
          Suspendisse in elit ac lorem euismod varius. Proin eros tellus, elementum eu imperdiet at, consequat vitae
          orci. Integer a turpis ut nibh pharetra dignissim at bibendum odio. Sed gravida arcu ut nulla posuere
          aliquam. Suspendisse vulputate cursus diam, eu rhoncus justo malesuada non. Aenean pellentesque nisl
          elementum egestas efficitur. Maecenas et erat et risus bibendum consectetur quis a justo. Fusce fermentum
          urna turpis, non eleifend tellus faucibus a. Quisque eu nisl ut ligula rutrum maximus eget quis neque. Donec
          ac posuere ipsum. Curabitur pharetra facilisis euismod. Mauris tincidunt pulvinar dapibus. Mauris vel ligula
          nec metus dapibus interdum.
        </p>
      </section>

      <section>
        <h4 class="title-section">
          Title section
        </h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in hendrerit neque. Cras non magna ligula.
          Maecenas tempus tellus auctor turpis auctor faucibus. Quisque mattis pulvinar placerat. Morbi sagittis diam
          vitae diam congue, a dignissim diam consectetur. Sed dictum nec nibh in vestibulum. Suspendisse at tempor
          ex. In egestas mollis faucibus. Praesent at erat tincidunt, iaculis sapien ut, sollicitudin odio.
        </p>
        <h5>Title paragraph</h5>
        <p>
          Cras ultrices, nunc a sodales consectetur, purus ex luctus leo, a porttitor magna tortor et lectus. Nam et
          enim at nibh facilisis tempor. Etiam a tellus eget orci ultrices sodales. Proin accumsan, lectus eget
          rhoncus porta, dui metus vehicula nisl, et aliquet nibh odio sed dolor. Integer eros sem, imperdiet eu
          faucibus ac, euismod nec enim. Nunc eu odio lobortis, tincidunt orci vel, malesuada dui. Integer volutpat
          urna at felis condimentum ultrices. Maecenas quis massa lorem. Nulla iaculis pulvinar pellentesque. Mauris
          et mauris gravida, scelerisque metus sed, efficitur lectus. Pellentesque nec gravida erat. Vivamus magna
          nisi, vestibulum a nisl in, feugiat maximus velit. Nullam dolor lorem, feugiat sed nunc sed, malesuada
          ultricies urna. Proin a ex eu lorem ultricies finibus vel ut est.
        </p>
        <p>
          Sed ac elit a elit molestie tincidunt quis vel ex. Nam auctor odio sed tortor sodales posuere. Mauris
          tristique velit vitae tempus maximus. In non convallis urna. Maecenas eu metus et dui tincidunt finibus. Sed
          arcu ex, consequat ac pretium eget, iaculis quis nibh. Nulla non maximus odio, quis dignissim dolor.
        </p>
        <p>
          Morbi lorem lorem, iaculis ac mi in, molestie volutpat augue. Maecenas elementum velit ac leo fringilla
          tempus. Donec laoreet rutrum mauris nec laoreet. Sed sem tellus, lacinia vitae dui quis, blandit interdum
          urna. Aliquam laoreet ante nec auctor dapibus. Integer lectus dolor, mollis at condimentum ut, convallis sed
          tortor. Proin efficitur suscipit mauris. Sed imperdiet magna non ultrices lobortis. Donec non iaculis metus,
          at pretium ipsum.
        </p>
        <p>
          Suspendisse in elit ac lorem euismod varius. Proin eros tellus, elementum eu imperdiet at, consequat vitae
          orci. Integer a turpis ut nibh pharetra dignissim at bibendum odio. Sed gravida arcu ut nulla posuere
          aliquam. Suspendisse vulputate cursus diam, eu rhoncus justo malesuada non. Aenean pellentesque nisl
          elementum egestas efficitur. Maecenas et erat et risus bibendum consectetur quis a justo. Fusce fermentum
          urna turpis, non eleifend tellus faucibus a. Quisque eu nisl ut ligula rutrum maximus eget quis neque. Donec
          ac posuere ipsum. Curabitur pharetra facilisis euismod. Mauris tincidunt pulvinar dapibus. Mauris vel ligula
          nec metus dapibus interdum.
        </p>
      </section>


    </main>
  </mat-sidenav> -->
  <!--   <mat-sidenav-content class="container-content">
    <main id="homepage">
      <div class="content-header ">
        <h1 class="header-title">Welcome to the page of the Life Stories of elderly Deaf signers!</h1>
        <h3 class="sub-header">Sub header title</h3>
      </div>
    </main>

  </mat-sidenav-content> -->


  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10">
        <div class="text-justify">
          <h1>Welcome to the page of the Life Stories of elderly Deaf signers!</h1>
          <p>
            In this area of the platform, you can find interviews conducted with elderly Deaf signers from five
            countries on their life experiences as well as a documentary movie based on these interviews.
          </p>
          <p>
            These interviews were conducted in five of the participating countries of the SIGN-HUB project and in six
            different sign languages: Catalan Sign Language (LSC), German Sign Language (DGS), Italian Sign Language
            (LIS), Sign Language of the Netherlands (NGT), Spanish Sign Language (LSE), and Turkish Sign Language (TİD).
          </p>
          <p>
            In each country, interviews have been conducted in different geographical areas. The exact number of
            interviews differs per sign language, but for every sign language, at least 20 interviews have been
            conducted, with interviewees being between 66 and 97 years of age.
            Interviews followed a pre-defined questionnaire; however, the addition of country-specific questions was
            encouraged.

          </p>
          <p>
            Click on the corresponding sign language to be directed to the interviews for that sign language:
            <a routerLink="/digital-archive" [queryParams]="{sl: 'DGS'}">DGS</a>,
            <a routerLink="/digital-archive" [queryParams]="{sl: 'LIS'}">LIS</a>,
            <a routerLink="/digital-archive" [queryParams]="{sl: 'LIS'}">LSC</a>,
            <a routerLink="/digital-archive" [queryParams]="{sl: 'LSE'}">LSE</a>,
            <a routerLink="/digital-archive" [queryParams]="{sl: 'NGT'}">NGT</a>,
            <a routerLink="/digital-archive" [queryParams]="{sl: 'TID'}">TID</a>.
            This part of the platform is also searchable; it is, for instance, possible to search for clips based on
            age
            or gender of the interviewee.
          </p>
          <p>
            In Israel, previously existing interviews by the University of Haifa Sign Language Research Lab have been
            digitized and made available on the platform (link).
          </p>
          <p>
            In France, three previously existing French documentary movies belonging to the Académie de la Langue des
            Signes Française have been digitized and made available on the platform as well (link).
          </p>
          <p>
            Based on materials from all seven countries, the 40-minute documentary movie ‘We were there, we are here’
            has been created. This movie is also available, with English subtitles, here (link).
          </p>
          <p>
            Enjoy browsing the <a routerLink="/digital-archive">digital archive</a> and diving into the life
            stories of elderly Deaf signers!
          </p>
          <p>
            If you would like to contribute interviews with elderly Deaf signers in your country to this digital
            archive, please <a routerLink="/contacts">contact us</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
