<div class="content-header ">
  <h1 class="header-title">Welcome to the page of the Assessment Tools!</h1>
</div>
<section class="container-body text-justify"></section>
<div class="row justify-content-center">
  <div class="col col-lg-10">
    <div class="text-justify">
      <p>
        This area of the platform presents a number of tests that assess linguistic skills of signers in four sign
        languages: LSC (Catalan Sign Language), LSE (Spanish Sign Language), LSF (French Sign Language) and LIS
        (Italian
        Sign Language).
      </p>
      <p>
        These tests evaluate comprehension and production of isolated signs and of full sentences.
      </p>
      <p>
        Click on the corresponding sign language to be directed to the corresponding page, where you can read a
        short description of every test that is available for that language.
      </p>
      <p>
        You can download <a routerLink="#">here</a> <strong> a detailed description of each test</strong>,
        including
        validation and piloting procedures.
      </p>
      <p>
        Please find <a routerLink="#">here</a> a document containing<strong> guidelines and
          recommendations</strong>
        on how to use these assessment tools
        and on more general issues concerning sign language policy.
      </p>
      <p>
        Our tests are available for free. If you are a researcher and you would like to use them, please <a
          routerLink="/contacts">contact us</a>.
      </p>
      <p>
        Note that these are not yet clinical tests and they are intended to be used only in a research
        environment.
        We plan to develop some of these tests into clinical tools in the near future.
      </p>
      <p>
        We have used these tests to collect data from 3 groups of Deaf participants: Native signers (exposed to
        sign
        language from birth); Early signers (exposed to sign language before the age of 6); Late signers (exposed
        to
        sign language between the age of 6 and 15). The results so far indicate that an early exposure to sign
        language has a positive impact on several language skills.
      </p>
      <p>
        Stay tuned, we shall soon upload the first papers reporting our results!
      </p>
    </div>
  </div>
</div>
