$icomoon-font-family: "cinicon" !default;
$icomoon-font-path: "assets/fonts/cinicon" !default;

$icon-1: "\e924";
$icon-2: "\e926";
$icon-3: "\e927";
$icon-4: "\e925";
$icon-5: "\e923";
$icon-1-circle-path1: "\e92e";
$icon-1-circle-path2: "\e92f";
$icon-2-circle-path1: "\e92a";
$icon-2-circle-path2: "\e92b";
$icon-3-circle-path1: "\e928";
$icon-3-circle-path2: "\e929";
$icon-4-circle-path1: "\e92c";
$icon-4-circle-path2: "\e92d";
$icon-5-circle-path1: "\e930";
$icon-5-circle-path2: "\e931";
$icon-1-line-path1: "\e91f";
$icon-1-line-path2: "\e920";
$icon-2-line-path1: "\e91b";
$icon-2-line-path2: "\e91c";
$icon-3-line-path1: "\e919";
$icon-3-line-path2: "\e91a";
$icon-4-line-path1: "\e91d";
$icon-4-line-path2: "\e91e";
$icon-5-line-path1: "\e921";
$icon-5-line-path2: "\e922";
$icon-1-minus-path1: "\e906";
$icon-1-minus-path2: "\e907";
$icon-2-minus-path1: "\e902";
$icon-2-minus-path2: "\e903";
$icon-3-minus-path1: "\e900";
$icon-3-minus-path2: "\e901";
$icon-4-minus-path1: "\e904";
$icon-4-minus-path2: "\e905";
$icon-5-minus-path1: "\e908";
$icon-5-minus-path2: "\e909";
$icon-1-plus-path1: "\e910";
$icon-1-plus-path2: "\e911";
$icon-2-plus-path1: "\e916";
$icon-2-plus-path2: "\e917";
$icon-3-plus-path1: "\e90a";
$icon-3-plus-path2: "\e90b";
$icon-4-plus-path1: "\e913";
$icon-4-plus-path2: "\e914";
$icon-5-plus-path1: "\e90d";
$icon-5-plus-path2: "\e90e";
$icon-1-cross-path1: "\e933";
$icon-1-cross-path2: "\e934";
$icon-2-cross-path1: "\e90c";
$icon-2-cross-path2: "\e90f";
$icon-3-cross-path1: "\e912";
$icon-3-cross-path2: "\e915";
$icon-4-cross-path1: "\e935";
$icon-4-cross-path2: "\e936";
$icon-5-cross-path1: "\e918";
$icon-5-cross-path2: "\e932";

