$icomoon-font-family: "cinicon" !default;
$icomoon-font-path: "assets/fonts/cinicon" !default;

$cinicon-1: "\31";
$cinicon-2: "\32";
$cinicon-3: "\33";
$cinicon-4: "\34";
$cinicon-5: "\35";
$cinicon-1-circle: "\61";
$cinicon-2-circle: "\62";
$cinicon-3-circle: "\63";
$cinicon-4-circle: "\64";
$cinicon-5-circle: "\65";
$cinicon-1-line: "\66";
$cinicon-2-line: "\67";
$cinicon-3-line: "\68";
$cinicon-4-line: "\69";
$cinicon-5-line: "\6c";
$cinicon-1-minus: "\6d";
$cinicon-2-minus: "\4c";
$cinicon-3-minus: "\4d";
$cinicon-4-minus: "\6e";
$cinicon-5-minus: "\6f";
$cinicon-1-plus: "\70";
$cinicon-2-plus: "\71";
$cinicon-3-plus: "\72";
$cinicon-4-plus: "\73";
$cinicon-5-plus: "\74";
$cinicon-1-cross: "\75";
$cinicon-2-cross: "\76";
$cinicon-3-cross: "\77";
$cinicon-4-cross: "\78";
$cinicon-5-cross: "\79";

