<div class="container-content">
  <a mat-button (click)="toggleSidenav()">
    <mat-icon matListIcon *ngIf="opened">menu_open</mat-icon>
    <mat-icon matListIcon *ngIf="!opened">list</mat-icon>
  </a>
  <div class="text-justify">
    <p>
      This section contains interviews with elderly Deaf signers of Catalan Sign Language (LSC), German Sign Language (DGS),
      Italian Sign Language (LIS), Sign Language of the Netherlands (NGT), Spanish Sign Language (LSE), and Turkish Sign
      Language (TİD). It also contains interviews and historical materials from French Sign Language (LSF) and Israeli Sign
      Language (ISL). <br> These materials reflect the life experiences of Deaf individuals, ranging from personal memories to historical events from a Deaf perspective. <br>
      <br>
      For instructions on how to navigate this page through the search option consult the ‘Life Stories/Streaming Tool’ file
      available <a routerLink="/supportingMaterials">here</a>.
    </p>
  </div>
  <div class="grid-content" *ngIf="isGrid">
    <div class="item col-12 px-2 col-md-4" *ngFor="let item of filteredData; let i = index"
      (click)="goToVideoDetails(i)">
      <div class="img-wrapper mat-elevation-z2 mat-margin-bottom">
        <img class="img-fluid" src="../../../assets/image/thumb.png" alt="{{item.videoElement.name}}" width="250" />
        <!-- <span class="time">15:00</span> -->
      </div>
      <div class="details">
        <h3 class="item-name mat-h3">{{ item.videoElement.name }}</h3>
        <p class="datetime">{{ item.videoElement.date }}</p>
      </div>
    </div>
  </div>
  <mat-list class="list-content" *ngIf="!isGrid">
    <div class="item" *ngFor="let item of filteredData; let i = index">
      <div class="img-wrapper">
        <img src="../../../assets/image/thumb.png" alt="{{item.videoElement.name}}" (click)="goToVideoDetails(i)" />
        <span class="time">15:00</span>
      </div>
      <div class="details">
        <div class="info">
          <p class="name">{{ item.videoElement.name }}</p>
          <p class="datetime">published on {{ item.videoElement.date }}</p>
          <p class="autor-name">autor name</p>
          <p class="description">
           <!--  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Pellentesque lobortis lobortis augue. Donec ullamcorper lorem ac
            augue fermentum laoreet. Curabitur et viverra metus. -->
          </p>
        </div>

        <!-- <div class="play-btn">
          <a (click)="goToVideoDetails(i)" arial-label="go to video ">
            <mat-icon matSuffix>play_arrow</mat-icon>
          </a>
        </div> -->
      </div>
    </div>
  </mat-list>
</div>
