@import "../../../variables.scss";

.main-container {
  height: 100%;
  .faq-content {
    max-width: 1040px;
    margin: auto;
    height: 100%;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      text-align: center;
    }
  }

  mat-expansion-panel {
    box-shadow: none;
    border: 1px solid gray;
    margin-bottom: 20px;
  }
}
