<mat-sidenav-container class="sidenav-container">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10">
        <div class="text-justify margin-from-top">
          <h1>User Guidelines</h1>
          <p>
            The SignGram Blueprint, which the grammars and the Atlas of Sign Language Structures on this platform are
            based on, can be accessed <a href="https://doi.org/10.1515/9781501511806" target="_blank">here</a>.
          </p>
          <p>
            Detailed information on how to use each tool of the platform can be found in the user manuals of the
            <a href="../../../assets/download/Grammars user manual.pdf" download> Grammars Tool</a>,<a
              href="../../../assets/download/Atlas user manual.pdf" download> Atlas Tool</a>, and the <a
              href="../../../assets/download/Streaming user manual.pdf" download>Life Stories/Streaming Tool</a>.
          </p>
          <p>
            Samples of the assessment tests are available in the ASSESSMENT part of this platform. If you are interested in
            accessing the full tests, please <a routerLink="/contacts">contact</a> us.
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-sidenav-container>
